@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBAL STYLES */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #888;
  background-color: #f4f0e3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

nav {
  background-color: #a0b878;
  height: 50px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* BUTTON STYLES */
button {
  border-radius: 15%!important; 
  border-width: 1.25px;
  border-color: #76953e80;
  padding: 0.6em 1.5em; 
  font-size: 1em;
  font-weight: 550;
  font-family: inherit;
  font-display: center;
  letter-spacing: 1.5px;
  background-color: #a0b878 !important;
  margin-right: 20px;
  border: none;
}

button:hover {
  border-color: #dfe8d1;
  filter: drop-shadow(0 0 0.5em #dfe8d1);
  transform: translateY(3px);
}

button.project_button {
  /* font-family: inherit; */
  letter-spacing: 0.50px;
  background-color: #2a2424 !important;
  color: #e7e4e1 !important;
  padding: 0.5em 1em;
  margin: 0.3em;
  border-radius: 0.25rem !important;
  font-size: 0.80rem;
  display: inline-flex;
  border: none !important;
}

button.project_button_var2 {
  background-color: #2a2424 !important;
  color: #e7e4e1 !important;
  padding: 0.25em 3em;
  margin: 0.2em;
  margin-top: 25px;
  display: inline-flex;
  font-weight: bold;
  /* font-size: 0.90rem; */
  border-radius: 0.50rem !important;
  box-shadow: #0000007d 2px 2px 4px;
}

/* ICONS */
icons {
  border-radius: 20px;
  border-color:#888;
  border: 2px solid transparent;
}

icons:hover {
  filter: drop-shadow(0 0 0.5em #dfe8d1);
  transform: translateY(3px);
}

/* DIVIDER */
.header-mod{
  background-color: #a0b878;
  color: #F6F7EB;
  border-radius: 0.50rem;
  padding-left: 5px;
}

/* BADGES */
.badge.tag-mod {
  background-color: #666064;
  color: #F6F7EB;
  padding: 0.5em 1em;
  border-radius: 0.50rem;
  font-size: 0.70rem;
  margin-right: 0.7em;
  justify-content: center;
  box-shadow: #1017107d 0 2px 4px;
}

.badge.tag-mod-skill {
  background-color: #2a2424;
  color: #eae8e6;
  padding: 0.5em 1em;
  margin: 0.3em;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  display:inline-flex;

}

/* SKILL BAR STYLES */
.bg-custom{
  background-color: #a0b878!important;
}

.bg-custom-2{
  background-color: #fea3b5!important;
}

.typing-animation {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: .15em solid #ffde59; 
  animation: typing 2s steps(30, end), blink-caret .5s step-end infinite;
}

.datelocation-mod{
  font-size: small;
  margin-right: 5%;
  margin-bottom: 5%;
}

.datelocation-mod2{
  font-size: medium;
  margin-right: 10%;
  margin-bottom: 5%;
}

/* TYPING ANIMATION */
.typing-animation {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: .15em solid #ffde59; 
  animation: typing 2s steps(30, end), blink-caret .5s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #ffde59 }
}





