
/* @import "tailwindcss"; */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #888;
  background-color: #f4f0e3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

nav {
  background-color: #a0b878;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  /* all: unset; */
  border-radius: 20% !important; 
  border-width: 1.25px;
  border-color: #76953e80;
  padding: 0.6em 1.5em; 
  font-size: 1em;
  font-weight: 550;
  font-family: inherit;
  letter-spacing: 1.5px;
  background-color: #76953e4c !important;
  /* color: rgb(2, 11, 2)!important; */
  margin-right: 20px;
  border: none;
}

button:hover {
  border-color: #dfe8d1;
  filter: drop-shadow(0 0 0.5em #dfe8d1);
  transform: translateY(3px);
  background-color: #aecb7782;

}

icons {
  border-radius: 20px;
  border-color:#888;
  border: 2px solid transparent;
}

icons:hover {
  filter: drop-shadow(0 0 0.5em #dfe8d1);
  transform: translateY(3px);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.badge.tag-mod {
  background-color: #666064;
  color: #F6F7EB;
  padding: 0.5em 1em;
  border-radius: 0.50rem;
  font-size: 0.70rem;
  margin-right: 0.5em;
  justify-content: center;
}

.badge.tag-mod-skill {
  background-color: #2a2424;
  color: #e7e4e1;
  padding: 0.5em 1em;
  margin: 0.3em;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  display:inline-flex

}


.header-mod{
  background-color: #a0b878;
  color: #F6F7EB;
  border-radius: 0.50rem;
  padding-left: 5px;
}

.bg-custom{
  background-color: #a0b878!important;
}

.bg-custom-2{
  background-color: #fea3b5!important;
}

.typing-animation {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: .15em solid #ffde59; 
  animation: typing 2s steps(30, end), blink-caret .5s step-end infinite;
}

.datelocation-mod{
  font-size: small;
  margin-right: 5%;
  margin-bottom: 5%;
}

.datelocation-mod2{
  font-size: medium;
  margin-right: 10%;
  margin-bottom: 5%;
}


@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #ffde59 }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}




